<div class="roomtype-selectors-wrapper">
  <div class="roomtype-selectors"
    ng-controller="RoomsController as slots">
    <select ng-model="ui.activeType"
      ng-options="type.type for type in slots.roomtypes">
    </select>
    <div class="misc-controls-wrapper">
      <div class="misc-controls">
      </div>
    </div>
  </div>
</div>
