<div class="room-form-wrapper"
  ng-controller="RoomsController as rooms">
  <form class="room-form">
    <input type="text" name="name" ng-model="ui.newRoom.name">
    <input type="number" name="capacity" ng-model="ui.newRoom.capacity">
    <button type="button" name="submit"
      ng-click="rooms.save(ui.newRoom)">
      Ajouter
    </button>
  </form>
  <form class="new-roomtype-form">
    <input type="text" name="type" ng-model="rooms.newType.type">
    <button type="button" name="submitType"
      ng-click="rooms.saveType(rooms.newType)">
      Ajouter le type
    </button>
  </form>
</div>
