<div class="timeslots-list-wrapper"
  ng-controller="RoomsController as list">
  <ul class="timeslots-list">
    <li ng-repeat="room in list.rooms | filter : {type: ui.activeType.type}">
      <span class="name">{{room.name}}</span>
      <span class="capacity">{{room.capacity}} places</span>
      <button type="button" ng-click="list.remove(room)">x</button>
    </li>
  </ul>
</div>
