<div id="rooms" class="rooms-wrapper">
  <div class="rooms" ng-controller="RoomsUIController as ui">
    <div class="browse columns medium-6">
      <div ng-include="'client/webapp/rooms/views/roomtype-selectors.ng.html'">
      </div>
      <div ng-include="'client/webapp/rooms/views/rooms-list.ng.html'">
      </div>
    </div>
    <div class="form columns medium-6">
      <div ng-include="'client/webapp/rooms/views/room-form.ng.html'">
      </div>
    </div>
  </div>
</div>
