<div class="dialogs-wrapper">
  <div class="dialogs">
    <div id="duplicateModal" class="reveal-modal" data-reveal
      aria-labelledby="duplicate timeslot modal" role="dialog"
      ng-controller="TimeslotsController as duplicator">
      <h2>Dupliquer {{ui.newTimeslot.parentSet}}</h2>
      <select ng-model="duplicator.destSet" ng-controller="TimeslotsController as list">
        <option ng-repeat="set in list.timeslotsets" value="{{set.name}}">
          {{set.name}}
        </option>
      </select>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <button type="button" name="close"
        ng-click="duplicator.duplicate(ui.newTimeslot.parentSet, duplicator.destSet)">
        Dupliquer
      </button>
    </div>
  </div>
</div>
