<div id="timeslots" class="timeslots-wrapper">
  <div class="timeslots row" ng-controller="TimeslotsUIController as ui">
    <div class="left-column columns medium-6">
      <div ng-include="'client/webapp/timeslots/views/timeslotset-selectors.ng.html'">
      </div>
      <div ng-include="'client/webapp/timeslots/views/timeslots-list.ng.html'">
      </div>
    </div>
    <div class="right-column columns medium-6">
      <div ng-include="'client/webapp/timeslots/views/timeslot-form.ng.html'">
      </div>
    </div>
    <div ng-include="'client/webapp/timeslots/views/dialogs.ng.html'">
    </div>
  </div>
</div>
