<div id="timeslots-list" class="timeslots-list-wrapper"
  ng-controller="TimeslotsController as list">
  <ul class="timeslots-list">
    <li ng-repeat="timeslot in list.timeslots | filter : {parentSet: ui.activeSet.name, day: ui.newTimeslot.day}">
      <span class="parentSet" ng-if="!ui.newTimeslot.parentSet">
        {{timeslot.parentSet}}
      </span>
      <span class="day">{{timeslot.day | weekNumToDay}}</span>
      <span class="hour">{{timeslot.hour}}H</span>
      <span class="minute">{{timeslot.minute}}</span>
      <span class="duration">, durée {{timeslot.duration}}H</span>
      <button type="button" ng-click="list.remove(timeslot)">x</button>
    </li>
  </ul>
</div>
