<div class="timeslotset-selectors-wrapper">
  <div class="timeslotset-selectors"
    ng-controller="TimeslotsController as slots">
    <select name="type" ng-model="ui.activeSetType">
      <option value="class">Eleves</option>
      <option value="teacher">Professeurs</option>
    </select>
    <select ng-model="ui.activeSet"
      ng-options="set.name for set in slots.timeslotsets | filter: {type: ui.activeSetType}">
    </select>
    <select name="day" ng-model="ui.newTimeslot.day"
      ng-options="day | weekNumToDay for day in ui.days">
    </select>
    <div class="misc-controls-wrapper">
      <div class="misc-controls">
        <button type="button" name="duplicate" data-reveal-id="duplicateModal">
          Dupliquer les creneaux
        </button>
        <button type="button" name="delete"
          ng-click="slots.removeSet(ui.activeSet)">
          Supprimer les creneaux
        </button>
      </div>
    </div>
  </div>
</div>
