<div id="timeslot-form" class="timeslot-form-wrapper"
  ng-controller="TimeslotsController as slots">
  <form class="timeslot-form">
    <select name="hour" ng-model="ui.newTimeslot.hour"
      ng-options="hour for hour in ui.hours">
    </select>
    <select name="minute" ng-model="ui.newTimeslot.minute"
      ng-options="minute for minute in ui.minutes">
    </select>
    <select name="duration" ng-model="ui.newTimeslot.duration"
      ng-options="duration for duration in ui.durations">
    </select>
    <button type="button" name="submit"
      ng-click="slots.save(ui.newTimeslot)">
      Ajouter
    </button>
  </form>
  <form class="new-timeslotset-form">
    <input type="text" name="name" ng-model="ui.newSlotSet.name">
    <button type="button" name="submitSet"
      ng-click="slots.saveSet(ui.newSlotSet)">
      Ajouter le set
    </button>
  </form>
</div>
