<div class="subjects-list-wrapper">
  <ul class="subjects-list" ng-controller="SubjectsController as list">
    <li ng-repeat="subject in list.subjects">
      <span class="name">
        {{subject.name}}
      </span>
      <span class="separator">-</span>
      <span class="roomtype">
        {{subject.roomtype}}
      </span>
    </li>
  </ul>
</div>
