<div class="subject-form-wrapper">
  <form class="subject-form" ng-controller="SubjectsController as subjects">
    <input type="text" name="name" ng-model="subjects.newSubject.name">
    <select name="roomtype"
      ng-options="roomtype.type for roomtype in subjects.roomtypes"
      ng-model="subjects.newSubject.roomtype">
    </select>
    <button type="button" name="submit"
      ng-click="subjects.save(subjects.newSubject)">
      Ajouter
    </button>
  </form>
</div>
