<div id="subjects" class="subjects-wrapper">
  <div class="subjects row">
    <div class="browse columns medium-6">
      <div ng-include="'client/webapp/subjects/views/subjects-list.ng.html'">
      </div>
    </div>
    <div class="form columns medium-6">
      <div ng-include="'client/webapp/subjects/views/subject-form.ng.html'">
      </div>
    </div>
  </div>
</div>
