<div id="header" class="header-wrapper">
  <header class="header">
    <div class="menu-wrapper">
      <nav class="menu">
        <ul class="menu-items">
          <li class="menu-item">
            <a ui-sref="webapp.timeslots">Créneaux Horaires</a>
          </li>
          <li>
            <a ui-sref="webapp.rooms">Salles</a>
          </li>
          <li>
            <a ui-sref="webapp.subjects">Matieres</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
